input {
    width: 33%;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 33%;
    font-size:18px;
}
